.main {
	grid-column-start: line1;
	grid-column-end: line4;
	box-sizing: border-box;
	margin: 0;
	border-bottom:1px solid black;
	border-radius:5px;
	border:1px solid hsl(0, 0%, 70%);
	h1 {
		margin:25px 20px 10px 20px;
		font-size:1.5em;
	}
	p {
		font-size:1em;
		margin: 0 20px 15px 20px;
		text-align: justify;
		line-height: 1.3em;
	}
}