.app .page-header {
  margin: 0;
  box-sizing: border-box;
  background-color: #b3b3b3;
  margin-bottom: 3%;
  display: flex;
  flex-direction: horizontal; }
  .app .page-header .page-heading {
    margin: 0;
    padding: 0 20px;
    line-height: 50px;
    color: white;
    font-size: 32px;
    box-sizing: border-box; }
    .app .page-header .page-heading:hover {
      color: #000;
      background-color: #cccccc; }
  .app .page-header .navbar {
    display: flex;
    flex-direction: row; }
  .app .page-header .nav-link {
    font-size: 16px;
    height: 50px;
    width: 110px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #000; }
    .app .page-header .nav-link:hover {
      color: #000;
      font-size: 19px; }
    .app .page-header .nav-link.selected {
      background-color: #cccccc; }

.app .home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2%;
  box-sizing: border-box;
  font-size: 1em; }
  .app .home .article {
    margin: 0;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    grid-column: 1 / span 8;
    box-shadow: 0 0 3px 0 #888888;
    padding: 30px; }
    .app .home .article .article-heading {
      font-size: 1.5em;
      font-weight: 700;
      margin: 0; }
    .app .home .article .article-paragraph {
      text-align: justify;
      line-height: 1.3em;
      margin: 1.3em 0;
      word-break: break-word; }
      .app .home .article .article-paragraph:last-child {
        margin-bottom: 0; }
  .app .home .side {
    margin: 0;
    grid-column: 9 / span 4;
    background-color: #cccccc;
    padding: 30px 20px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    box-shadow: 0 0 3px 0 #888888; }
    .app .home .side .side-heading {
      font-size: 1.2em;
      font-weight: 700;
      margin: 0; }
    .app .home .side .side-paragraph {
      margin: 1em 0;
      text-align: justify;
      word-break: break-word; }

.app .products .products-heading {
  margin: 0 0 1% 0;
  padding: 0;
  font-size: 1.5em; }

.app .products .products-grid {
  display: block;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr 4fr 2fr;
  grid-auto-rows: 40px;
  grid-gap: 3px; }
  .app .products .products-grid .th-1, .app .products .products-grid .th-2, .app .products .products-grid .th-3, .app .products .products-grid .th-4 {
    color: #fff;
    background-color: #666666;
    display: inline-block;
    line-height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 300; }
  .app .products .products-grid .th-1 {
    border-radius: 7px 0 0 0;
    grid-column: 1 / 2; }
  .app .products .products-grid .th-2 {
    grid-column: 2 / 3; }
  .app .products .products-grid .th-3 {
    grid-column: 3 / 4; }
  .app .products .products-grid .th-4 {
    grid-column: 4 / 5;
    border-radius: 0 7px 0 0; }
  .app .products .products-grid .id, .app .products .products-grid .name, .app .products .products-grid .category, .app .products .products-grid .price {
    height: 100%;
    line-height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-break: break-word;
    display: inline-block;
    background-color: #cccccc;
    cursor: pointer; }
    .app .products .products-grid .id:hover, .app .products .products-grid .name:hover, .app .products .products-grid .category:hover, .app .products .products-grid .price:hover {
      background-color: #ADD8E6; }
  .app .products .products-grid .id {
    grid-column: 1 / span 1;
    text-align: center; }
  .app .products .products-grid .name {
    grid-column: 2 / span 1;
    text-align: left;
    padding: 0 3%; }
  .app .products .products-grid .category {
    grid-column: 3 / span 1;
    text-align: center; }
  .app .products .products-grid .price {
    grid-column: 4 / span 1;
    text-align: center; }

.app .about {
  margin: 6% 2% 10% 2%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  font-size: 1em;
  overflow: hidden; }
  .app .about .about-heading {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    grid-column: span 4;
    grid-row: span 1; }
  .app .about .about-paragraph {
    grid-row: span 1;
    grid-column: 1 / span 4;
    margin: 0;
    text-align: justify;
    word-break: break-word; }
  .app .about .about-image {
    margin: 0 auto;
    grid-column: 5 / span 2;
    grid-row: 2 / span 3;
    border: 7px solid #000;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px; }

.app .page-footer {
  margin-top: 20px;
  background-color: #b3b3b3;
  padding: 3% 3%; }
  .app .page-footer .footer-heading {
    font-size: 1.5em;
    margin: 0;
    padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000; }

.root {
  margin: 0;
  padding: 0; }

.app {
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  padding: 0; }

.main {
  display: block;
  margin: 0 2%; }

@media (max-width: 700px) {
  .app .page-header {
    flex-direction: column;
    align-content: stretch; }
    .app .page-header .page-heading {
      text-align: center; }
    .app .page-header .navbar {
      flex-direction: column;
      justify-content: stretch; }
      .app .page-header .navbar .nav-link {
        width: 100%; } }

@media (max-width: 800px) {
  .app {
    width: 100%;
    min-width: 200px; }
    .app .about {
      margin: 25px 10px 35px 10px;
      grid-gap: 30px 10px; }
      .app .about .about-paragraph {
        grid-column: span 6; }
      .app .about .about-image {
        width: 30%;
        border-width: 5px;
        grid-column: span 6;
        grid-row: 4 / span 1; } }

@media (max-width: 1200px) {
  .app .home {
    grid-gap: 20px; }
    .app .home .article {
      grid-column: span 12; }
    .app .home .side {
      grid-column: span 12; }
  .app .page-footer {
    margin-top: 20px; } }
